@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body, button {
  font-family: 'Montserrat', sans-serif;
  font-size: 16px;
}

.nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 20px 0px 20px;
}

#right-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 20px;
}

#left-nav-bar {
    display: flex;
    flex-direction: row;
    justify-content: left;
    gap: 30px;
}

.nav-btn {
  background-color: transparent;
  border: 0px solid #2C3947;
  border-radius: 12px;
  padding: 5px 15px;
  font-weight: 600;
  color: #2C3947;
}

.nav-btn:hover {
  background-color: #E8EDF2;
  cursor: pointer;
}

hr {
  border-top: 1px solid rgba(0, 0, 0, 0.089);
  margin: 15px 20px 25px 20px; 
}
